#score {
  color: red;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
}

#game {
  width: 600px;
  height: 300px;
  border: 2px solid black;
  margin: auto;
  background-image: url("https://img.freepik.com/vektoren-premium/eine-zeichnung-einer-wueste-mit-einem-huegel-und-wolken-im-hintergrund_135595-116335.jpg?w=360");
  background-size: cover;
}

#dino {
  height: 75px;
  width: 75px;
  top: 225px;
  position: relative;
  background-image: url("https://png.pngtree.com/png-vector/20241009/ourmid/pngtree-a-cute-camel-photo-png-image_14019508.png");
  background-size: cover;
}

#rock {
  width: 50px;
  height: 50px;
  position: relative;
  top: 175px;
  left: 550px;
  background-image: url("https://github.com/kriscfoster/chrome-dino-game/blob/master/rock.png?raw=true");
  background-size: cover;
  animation: rock 1.33s infinite;
}

@keyframes rock {
  0% {
    left: 550px;
  }
  100% {
    left: -50px;
  }
}

.jump-animation {
  animation: jump 0.5s;
}

@keyframes jump {
  0% {
    top: 225px;
  }
  50% {
    top: 75px;
  }
  75% {
    top: 75px;
  }
  100% {
    top: 225px;
  }
}
